<div class="input-group">
	<div class="input-group-prepend">
		<button
			class="btn btn-outline-secondary search-bar-button"
			(click)="onSearchButtonPress()"
		>
			<mat-icon>search</mat-icon>
		</button>
	</div>
	<input
		class="search-bar-input pl-2"
		type="text"
		[(ngModel)]="searchText"
		(input)="searchTextChanged()"
		[matAutocomplete]="autocompleteTemplate"
	/>
	<mat-autocomplete #autocompleteTemplate [displayWith]="displayFn">
		<mat-option
			*ngFor="let option of searchResults"
			[value]="option"
			[matTooltip]="option.display_name"
			matTooltipPosition="left"
			(onSelectionChange)="onSelectionChange($event)"
		>
			{{ option.display_name | ellipsis: 35 }}
		</mat-option>
	</mat-autocomplete>
</div>
