$border-radius: 25px;

.search-bar-size {
	height: 35px;
}

.search-bar-button {
	@extend .search-bar-size;
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
}

.search-bar-input {
	@extend .search-bar-size;
	font-size: 14px;
	width: 350px;
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}
