mat-card {
	margin: 0 auto;
	width: 500px;
}

mat-card-content,
mat-card-title {
	text-align: center;
}
mat-form-field {
	width: 80%;
}

#background {
	width: 100%;
	height: 100%;
	background-image: url('../../assets/images/login-background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

.fade-in-image {
	animation: fadeIn 3s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
