<body>
	<div class="d-flex align-items-center justify-content-center" id="background">
		<mat-card class="fade-in-image">
			<ng-container *ngIf="!roles">
				<mat-card-title> Welcome! Please log in to continue </mat-card-title>
				<mat-card-content class="mt-3 mb-1">
					<mat-tab-group>
						<mat-tab label="Login"><app-login></app-login></mat-tab>
						<mat-tab label="Register" *ngIf="roles"
							><app-register [roles]="roles"></app-register
						></mat-tab>
					</mat-tab-group>
				</mat-card-content>
			</ng-container>
			<ng-container *ngIf="roles">
				<mat-card-title> Register a user </mat-card-title>
				<mat-card-content class="mt-3 mb-1">
					<mat-tab-group>
						<mat-tab label="Register"
							><app-register [roles]="roles"></app-register
						></mat-tab>
					</mat-tab-group>
				</mat-card-content>
			</ng-container>
		</mat-card>
	</div>
</body>
