<mat-toolbar>
	<a href="/" style="color: inherit">
		<button mat-icon-button>
			<mat-icon>layers</mat-icon>
		</button></a
	>
	<span>GISAlert</span>
	<span class="toolbar-spacer"></span>
	<ng-content></ng-content>
</mat-toolbar>
