<mat-dialog-content>
	<ngb-carousel [showNavigationArrows]="data.images.length > 1">
		<ng-template *ngFor="let image of data.images" ngbSlide>
			<img class="carousel-image" [src]="image" />
		</ng-template>
	</ngb-carousel>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
