<gis-toolbar>
	<button
		mat-icon-button
		[matMenuTriggerFor]="menu"
		*ngIf="userRole === roles.Admin"
	>
		<mat-icon>account_box</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item [routerLink]="['/register']">Register user</button>
		<button mat-menu-item [routerLink]="['/statistics']">Statistics</button>
	</mat-menu>
	<button mat-icon-button matTooltip="Add event">
		<mat-icon [routerLink]="['add']">library_add</mat-icon>
	</button>
	<button mat-icon-button matTooltip="Logout" (click)="logout()">
		<mat-icon>exit_to_app</mat-icon>
	</button>
</gis-toolbar>
<mat-sidenav-container>
	<mat-sidenav class="sidenav-list" mode="side" opened>
		<mat-form-field
			(keyup.enter)="searchLocation()"
			class="search-field"
			appearance="standard"
		>
			<mat-label>Address</mat-label>
			<input matInput type="text" [(ngModel)]="searchText" />
			<button matSuffix mat-icon-button (click)="clearInput()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
		<mat-action-list *ngIf="searchResult">
			<ng-container *ngFor="let result of searchResult">
				<button
					mat-list-item
					[matTooltip]="result.display_name"
					matTooltipPosition="left"
					class="list-item"
					(click)="recenterMap(result)"
				>
					{{ result.display_name | ellipsis: 25 }}
				</button></ng-container
			>
		</mat-action-list></mat-sidenav
	>
	<mat-sidenav-content id="ol-map"></mat-sidenav-content>

	<div #popup class="popover-body" id="popup">
		<mat-card class="event-info-card">
			<mat-card-header class="title-font">
				<mat-card-title
					>{{ popupData?.title }}
					<button mat-icon-button>
						<mat-icon [routerLink]="['/event', popupData?.id]">edit</mat-icon>
					</button></mat-card-title
				>
			</mat-card-header>
			<ngb-carousel
				*ngIf="popupData?.imagePaths.length > 0; else noImageAvailable"
			>
				<ng-template *ngFor="let image of popupData.imagePaths" ngbSlide>
					<img
						[src]="image"
						class="carousel-image"
						(click)="openImageDialog()"
					/>
				</ng-template>
			</ngb-carousel>
			<ng-template #noImageAvailable>
				<img src="../../assets/images/no-image.png" class="no-image-banner" />
			</ng-template>
			<mat-card-content class="mt-2">
				<p>Event type: {{ popupData?.type.name }}</p>
				<p class="description-paragraph">
					Description : {{ popupData?.description }}
				</p>
				<p>Expires on: {{ popupData?.dateTo | date }}</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button (click)="closePopup()">CLOSE</button>
				<button mat-button (click)="deleteEvent(popupData.id)">DELETE</button>
			</mat-card-actions>
		</mat-card>
	</div>
</mat-sidenav-container>
