@import '../../variables.scss';

.row {
	margin: 0;
}

.sticky-content {
	position: -webkit-sticky;
	position: sticky;
	z-index: 3;
	top: 0;
}

.map-container {
	height: 60vh;
	width: 100%;
	display: flex;
	flex-grow: 1;
	border-bottom: 6px black solid;
}

input[matInput] {
	color: mat-color($my-primary);
}

.description-text {
	width: 75%;
	color: mat-color($my-primary);
}

.multiple-input-line {
	display: flex;
	column-gap: 10px;
	align-content: space-between;
}

.form-button {
	background-color: mat-color($my-primary);
}

.form-button-content {
	color: #424242;
}
