<div class="sticky-content">
	<gis-toolbar>
		<app-search-bar
			class="mr-3"
			[searchCallback]="locationSearchCallback"
			(searchSelection)="onSearchSelection($event)"
		></app-search-bar>
		<button
			mat-stroked-button
			class="form-button form-button-content"
			(click)="save()"
		>
			<mat-icon class="mr-2">library_books</mat-icon>
			<span>Save event</span>
		</button>
	</gis-toolbar>
	<div class="map-container" id="ol-add-map"></div>
</div>
<form [formGroup]="formGroup" class="pt-1" autocomplete="off">
	<div class="row">
		<div class="col">
			<div class="multiple-input-line mb-2">
				<mat-form-field>
					<mat-label>Latitude</mat-label>
					<input
						matInput
						required
						min="-85.06"
						max="85.06"
						type="number"
						placeholder="Latitude"
						formControlName="latitude"
					/>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Longitude</mat-label>
					<input
						matInput
						required
						min="-180.0"
						max="180.0"
						type="number"
						placeholder="Longitude"
						formControlName="longitude"
					/>
					<mat-error>
						<app-control-error controlName="longitude"></app-control-error>
					</mat-error>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Radius</mat-label>
					<input
						matInput
						required
						type="number"
						placeholder="Radius"
						formControlName="radius"
					/>
				</mat-form-field>
			</div>
			<div class="mb-2">
				<mat-form-field>
					<mat-label>Title</mat-label>
					<input
						matInput
						maxlength="30"
						type="text"
						placeholder="Event title"
						formControlName="title"
					/>
					<mat-error>
						<app-control-error controlName="title"></app-control-error>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mb-2">
				<mat-form-field>
					<mat-label>Type</mat-label>
					<mat-select formControlName="type" [compareWith]="compareFn" required>
						<mat-select-trigger>
							<div class="d-flex align-items-center">
								<mat-icon
									[ngStyle]="
										formGroup.value.type
											? { color: '#' + formGroup.value.type.color }
											: null
									"
									>lens</mat-icon
								>
								<div class="ml-2">{{ formGroup.value.type?.name }}</div>
							</div>
						</mat-select-trigger>
						<mat-option *ngFor="let type of eventTypes" [value]="type">
							<div class="d-flex align-items-center">
								<mat-icon [ngStyle]="{ color: '#' + type.color }"
									>lens</mat-icon
								>
								{{ type.name }}
							</div>
						</mat-option>
					</mat-select>
					<mat-error>
						<app-control-error controlName="title"></app-control-error>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mb-2">
				<mat-form-field class="description-text">
					<mat-label>Description</mat-label>
					<textarea
						matInput
						maxlength="300"
						cdkTextareaAutosize
						cdkAutosizeMaxRows="5"
						cdkAutosizeMinRows="1"
						type="text"
						placeholder="Event description"
						formControlName="description"
					></textarea>
					<mat-error>
						<app-control-error controlName="description"></app-control-error>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="multiple-input-line mb-2">
				<div>
					<mat-form-field>
						<mat-label>Date from</mat-label>
						<input
							matInput
							[ngxMatDatetimePicker]="picker1"
							formControlName="dateFrom"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="$any(picker1)"
						></mat-datepicker-toggle>
						<ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
						<mat-error>
							<app-control-error controlName="dateFrom"></app-control-error>
						</mat-error>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field>
						<mat-label>Date to</mat-label>
						<input
							matInput
							[ngxMatDatetimePicker]="picker2"
							formControlName="dateTo"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="$any(picker2)"
						></mat-datepicker-toggle>
						<ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
						<mat-error>
							<app-control-error controlName="dateTo"></app-control-error>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="col">
			<app-file-upload
				[formGroup]="formGroup"
				[maxFilesNumber]="3"
				[canUpload]="!!!this.eventDetail?.id"
				[eventImages]="this.eventDetail?.imagePaths ?? null"
				[controlName]="'files'"
				(thumbnailClick)="openImageDialog($event)"
			></app-file-upload>
		</div>
	</div>
</form>
