:host {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.map-container {
	flex-grow: 1;
}

.sidenav-list {
	width: 230px;
}

.search-field {
	display: block;
	margin: 10px;
}

.list-item {
	height: fit-content;
	font-size: 13px;
}

mat-sidenav-container {
	height: 100%;
}

mat-sidenav-content {
	flex-grow: 1;
}

.map {
	height: 100vh;
	width: 100%;
}

.mat-card-header .mat-card-title {
	font-size: 15px;
}

.event-info-card {
	width: 400px;
}

.carousel-image {
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 200px;
}

.no-image-banner {
	width: 100%;
	height: 200px;
	object-fit: fill;
}

.description-paragraph {
	overflow-wrap: normal;
}
