<form class="mt-5" [formGroup]="formGroup" id="loginForm">
	<mat-form-field>
		<mat-label>Username</mat-label>
		<input
			type="text"
			matInput
			required
			formControlName="userName"
			placeholder="Email"
		/>
		<mat-error>
			<app-control-error controlName="userName"></app-control-error>
		</mat-error>
	</mat-form-field>
	<mat-form-field class="mt-2">
		<mat-label>Password</mat-label>
		<input
			type="password"
			formControlName="password"
			matInput
			required
			placeholder="Password"
		/>
		<mat-error>
			<app-control-error controlName="password"></app-control-error>
		</mat-error>
	</mat-form-field>
</form>
<button
	form="loginForm"
	type="submit"
	mat-button
	class="mat-raised-button mat-primary ml-2 mt-3"
	(click)="login()"
>
	Log in
</button>
