@import '../../variables.scss';
input[matInput] {
	color: mat-color($my-primary);
}

.title {
	color: white;
}

.user-statistic {
	width: 50%;
	height: 180px;
	flex-wrap: wrap;
}

.user-statistic-item {
	color: white;
	text-align: center;
	line-height: 2em;
}

.counter {
	font-size: 35px;
}

.counter-subtitle {
	font-size: 20px;
}
