<gis-toolbar> </gis-toolbar>
<div class="d-flex">
	<div class="d-flex user-statistic justify-content-center align-items-center">
		<p class="user-statistic-item">
			<span class="counter">{{ adminCount }}</span> <br /><span
				class="counter-subtitle"
				>Administrator accounts created</span
			>
		</p>
		<p class="user-statistic-item"></p>
	</div>
	<div class="d-flex user-statistic justify-content-center align-items-center">
		<p class="user-statistic-item">
			<span class="counter">{{ moderatorCount }}</span> <br /><span
				class="counter-subtitle"
				>Moderator accounts created</span
			>
		</p>
	</div>
</div>
<div class="d-flex justify-content-center mt-2">
	<h1 class="title">Number of events by type</h1>
</div>
<div class="d-flex" echarts [options]="chartOption"></div>
<form [formGroup]="formGroup" class="pb-5">
	<div class="d-flex justify-content-center align-items-center">
		<div class="mr-5">
			<mat-form-field>
				<mat-label>Date from</mat-label>
				<input matInput [matDatepicker]="picker" formControlName="dateFrom" />
				<mat-hint>MM/DD/YYYY</mat-hint>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="mr-5">
			<mat-form-field>
				<mat-label>Date to</mat-label>
				<input matInput [matDatepicker]="picker2" formControlName="dateTo" />
				<mat-hint>MM/DD/YYYY</mat-hint>
				<mat-datepicker-toggle
					matSuffix
					[for]="picker2"
				></mat-datepicker-toggle>
				<mat-datepicker #picker2></mat-datepicker>
			</mat-form-field>
		</div>
		<button
			class="btn btn-success"
			(click)="getEventTypeStatistic()"
			[disabled]="isLoading"
		>
			Get stats
		</button>
	</div>
</form>
