@import '../../../variables.scss';

button[mat-icon-button] {
	$button-color: mat-color($my-primary);
	$large-size-button: 40px;
	$large-size-icon: 30px;

	&.icon-button-large {
		width: $large-size-button;
		height: $large-size-button;
		line-height: $large-size-button;
		.mat-icon {
			font-size: $large-size-icon;
			width: $large-size-icon;
			height: $large-size-icon;
			line-height: $large-size-icon;
			color: $button-color;
		}
		.mat-button-ripple {
			font-size: inherit;
			width: inherit;
			height: inherit;
			line-height: inherit;
		}
	}

	$small-size-button: 24px;
	$small-size-icon: 18px;
}

.file-name {
	width: 200px;
	font-size: 12px;
}

mat-list-item {
	height: 30px !important;
}

.thumbnail-image {
	width: 100px;
	height: 100px;
	object-fit: contain;
	object-position: center;
}

.thumbnail-border:hover {
	outline: 3px solid mat-color($my-primary);
	outline-style: dashed;
}
