<div *ngIf="canUpload" class="d-flex align-items-baseline pt-2">
	<div class="align-items-center">
		<span class="material-primary-color">Upload images:</span>
		<button
			mat-icon-button
			type="button"
			class="icon-button-large ml-2"
			(click)="fileInput.click()"
		>
			<mat-icon>cloud_upload</mat-icon>
		</button>
		<input
			#fileInput
			type="file"
			(change)="onChange($event)"
			multiple="multiple"
			style="display: none"
			accept="image/png, image/jpg, image/jpeg"
		/>
	</div>
	<mat-list role="list">
		<mat-list-item
			role="listitem"
			*ngFor="let fileControl of filesArray.controls; let index = index"
			><div class="file-name">
				{{ fileControl.value.name | ellipsis: 20 }}
			</div>
			<div>
				<button
					mat-icon-button
					class="icon-button-small ml-2"
					(click)="removeFile(index)"
				>
					<mat-icon>close</mat-icon>
				</button>
			</div></mat-list-item
		>
	</mat-list>
</div>
<div class="d-flex pt-2">
	<div *ngFor="let image of thumbnailImages" class="mr-3 thumbnail-border">
		<img
			class="thumbnail-image"
			[src]="image"
			(click)="onThumbnailClick(image)"
		/>
	</div>
</div>
