<form class="mt-5" [formGroup]="formGroup">
	<mat-form-field>
		<mat-label>Username</mat-label>
		<input
			type="text"
			formControlName="userName"
			matInput
			required
			placeholder="Username"
		/>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Email</mat-label>
		<input type="text" matInput formControlName="email" placeholder="Email" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Password</mat-label>
		<input
			type="password"
			formControlName="password"
			matInput
			required
			placeholder="Password"
		/>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Role</mat-label>
		<mat-select formControlName="roleId" required>
			<mat-option *ngFor="let role of roles" [value]="role.id">
				{{ role.name }}
			</mat-option>
		</mat-select>
		<mat-error>
			<app-control-error controlName="roleId"></app-control-error>
		</mat-error>
	</mat-form-field>
</form>
<button
	mat-button
	class="mat-raised-button mat-primary ml-2 mt-3"
	(click)="onSubmit()"
>
	Register
</button>
