<mat-toolbar>
	<a routerLink="/">
		<button mat-icon-button>
			<mat-icon>layers</mat-icon>
		</button></a
	>
	<span>GISAlert</span>
</mat-toolbar>
<div style="display: flex; justify-content: center; flex-wrap: wrap">
	<div>
		<div
			style="
				display: flex;
				font-size: 26px;
				justify-content: center;
				margin-top: 30px;
				margin-bottom: 30px;
			"
		>
			How to add an event
		</div>
		<video width="800" height="480" controls>
			<source src="../../assets/video/add-tutorial.mp4" type="video/mp4" />
			Your browser does not support the video tag.
		</video>
	</div>
	<div
		style="
			display: flex;
			justify-content: center;
			flex-basis: 100%;
			margin-top: 30px;
		"
	>
		<audio controls>
			<source src="../../assets/audio/audio.mp3" type="audio/mp3" />
		</audio>
	</div>
</div>
<mat-toolbar
	style="display: flex; gap: 10px; bottom: 0; margin-top: 40px; position: fixed"
>
	<a href="http://www.facebook.com" target="_blank">
		<button mat-mini-fab color="warn">
			<mat-icon>facebook</mat-icon>
		</button></a
	>
	<a href="http://www.instagram.com" target="_blank">
		<button mat-mini-fab color="warn">
			<fa-icon [icon]="faInstagram"></fa-icon>
		</button>
	</a>
	<a href="http://www.twitter.com" target="_blank">
		<button mat-mini-fab color="warn">
			<fa-icon [icon]="faTwitter"></fa-icon></button
	></a>
</mat-toolbar>
