/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

html,
body {
	height: 100%;
	margin: 0;
	background-color: #424242 !important;
}
h1 {
	padding: 0;
	margin: 0;
}

.material-primary-color {
	color: mat-color($my-primary);
}

.error-toast {
	background-color: red;
}

.recenter-map-control {
	top: 70px;
	left: 0.5em;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
